---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { ImageGallery as Props } from '~/types';
import Image from '~/components/common/Image.astro';

const { id, isDark = false, images = [], bg = await Astro.slots.render('bg') } = Astro.props;

// Bilder gleichmäßig auf die Spalten verteilen
const columns = 1;
const columnedImages = Array.from({ length: columns }, (_, i) => images.filter((_, index) => index % columns === i));
---

<WidgetWrapper id={id} isDark={isDark} bg={bg}>
  <section class="relative min-h-screen flex flex-col justify-center">
    <div class="w-full max-w-5xl mx-auto px-4 md:px-6 py-0">
      <div class="space-y-20">
        <div>
          <div class="columns-3 gap-4 space-y-4">
            {
              columnedImages.map((column) => (
                <div class="grid gap-4">
                  {column.map((image) => (
                    <div class="relative group">
                      <Image
                        class="w-full rounded-md shadow transform transition-transform duration-300 ease-in-out"
                        src={image.src}
                        alt={image.alt}
                        width={image.width}
                      />
                      <a href={image.src} title={image.title} target="_blank" rel="noopener noreferrer">
                        <figcaption class="absolute inset-0 flex items-center justify-center text-center text-sm bg-black bg-opacity-70 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                          {image.caption}
                        </figcaption>
                      </a>
                    </div>
                  ))}
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</WidgetWrapper>
