---
import { Icon } from 'astro-icon/components';

import { UI } from 'astrowind:config';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconClassSun?: string;
  iconClassMoon?: string;
  iconNameSun?: string;
  iconNameMoon?: string;
}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = 'text-muted hover:text-primary dark:hover:text-primary rounded-lg text-sm p-2 inline-flex items-center', 
  iconClassSun = 'w-6 h-6 dark:hidden block',
  iconClassMoon = 'w-6 h-6 dark:block hidden',
  iconNameSun = 'tabler:sun',
  iconNameMoon = 'tabler:moon',
} = Astro.props;
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
      <Icon name={iconNameSun} class={iconClassSun} />
      <Icon name={iconNameMoon} class={iconClassMoon} />
    </button>
  )
}
